@import "tailwindcss";

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/Helvetica-Neue-CE-55-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --color-gov-dark-blue: #274c77;
  --color-gov-mid-blue: #6096ba;
  --color-gov-light-blue: #a3cef1;
  --color-gov-light-gray: #e7ecef;
  --color-gov-slate: #8b8c89;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
